nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);

}
aside {
  width: 22%;
  float: left;
}
section {
  background: red;
  width: 75%;
  float: right;
}
nav ul li {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav ul li a:hover{
  background: #1e1e1e;
}
#root{
  overflow: hidden;
}